
@import "./bootstrap.css";

@font-face {
  font-family: 'LifeCraft_Font';
  src: url('../../../resources/LifeCraft_Font.ttf') format('truetype');
  /* Optionally, you can specify font weight and style */
  font-weight: normal;
  font-style: normal;
}

:root {
  --ev-c-white: #ffffff;
  --ev-c-white-soft: #f8f8f8;
  --ev-c-white-mute: #f2f2f2;

  --ev-c-black: #000;
  --ev-c-black-soft: #222222;
  --ev-c-black-mute: #282828;

  --ev-c-gray-1: #515c67;
  --ev-c-gray-2: #414853;
  --ev-c-gray-3: #32363f;

  --ev-c-text-1: rgba(255, 255, 245, 0.86);
  --ev-c-text-2: rgba(235, 235, 245, 0.6);
  --ev-c-text-3: rgba(235, 235, 245, 0.38);

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: var(--ev-c-text-1);
  --ev-button-alt-bg: var(--ev-c-gray-3);
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: var(--ev-c-text-1);
  --ev-button-alt-hover-bg: var(--ev-c-gray-2);

}

:root {
  --color-background: var(--ev-c-black);
  --color-background-soft: var(--ev-c-black-soft);
  --color-background-mute: var(--ev-c-black-mute);

  --color-text: var(--ev-c-text-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background-soft);
  /* background-image: url('../../../resources/wallpaper.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.1;
  font-family: 'LifeCraft_Font', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
}

/* Track (the area on which the thumb moves) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: goldenrod; /* Color of the thumb */
}

/* Handle (the draggable part of the scrollbar on hover) */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

input, textarea {
  font-family: 'Calibri', sans-serif;
}

button {
  appearance: none; /* Removes default button styles (may not work in all browsers) */
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: none; /* Removes the default focus outline */
  /* Add any additional styles you want to reset */
}


/* Reset menu and list items */
menu,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

